body{
    padding-top: 70px;
	background:#ccc;
    font-family: Roboto;
    display: flex;
	font-size: 24px;
	align-items: center;
	justify-content: center;

}
#book{
	max-width:1100px;
	height:800px;
    /* margin: auto; */
}
.nav-btn{
	margin: 50px;
	font-size: 50px;
	min-width: 70px;
	padding: 6px 16px;
	/* aspect-ratio: 1/1; */
}
#back{
	transform: translateX(-20px);
}
#book .cover{
	background:#333;
}

#book .cover h1{
	color:white;
	text-align:center;
	font-size:48px;
	line-height:600px;
	margin:0px;
	transform: translateY(90px);
}
#book .regular-page{
    display: flex;
	flex-direction: column;
    justify-content:flex-start;
	gap: 3rem;
	align-items:center;
	padding: 4rem;
	/* background-color: orange; */
	background-image: url(./images/background.avif);
	background-repeat:no-repeat;
	background-size: cover;


}
.regular-page ul{
	align-self: flex-start;
	display: flex;
	list-style: none;
	text-align: center;
	gap: 2rem;
} 
#book .regular-page > * {
	max-width: 100%;
}
.first>h1, div{
	margin-left: -20px;

}
.first>ul{
	margin-left:60px;

}
.second>ul {
	gap: 0px;

}
.third>ul, .fifth>ul {
	gap: 8px;

}
#book .regular-page.second > * {
	margin-left: 0px;

}
#book .regular-page.second img {
	max-width: 80%;

}

a{
	text-decoration: none;
}
li{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 31%;
}
.list-item-img{
	max-width: 200px;
	margin-top: 20px;
	
}

#book .loader{
	background-image:url(loader.gif);
	width:24px;
	height:24px;
	display:block;
	position:absolute;
	top:238px;
	left:188px;
}

#book .data{
	text-align:center;
	font-size:40px;
	color:#999;
	line-height:500px;
}

#controls{
	width:800px;
	text-align:center;
	margin:20px 0px;
	font:30px arial;
}

#controls input, #controls label{
	font:30px arial;
}

#book .odd{
	background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

#book .even{
	background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}
#b{
	display: inline;
}